@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
h1{
    font-weight: 700;
}
.green{
    color: #0bffb6;
}
p{
    color: rgba(255, 255, 255, 0.671);
}

.hero{
    height: 110vh;
    background-image: url(./images/imageedit_14_2873877609.jpg);
    padding: 2% 10% 2% 10%;
    position: relative;
    border: 10px solid #0bffb6;
}
a{
    color: rgba(255, 255, 255, 0.946);
    text-decoration: none;
    font-family: 'Aboreto', cursive;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block{
    display: none;
}
nav img{
    height: 80px;
}
.left{
    width: 25%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.right{
    width: 45%;
}
.text{
    width: 30%;
   position:absolute;
   bottom: 0%;
   right: 10%;
}


/* CSS */
.button-49,
.button-49:after {
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  /* background-color: #0bffb6; */
   background: linear-gradient(45deg, transparent 5%,  #0bffb6 5%); 
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

.characters{
      height: 110vh;
      background-image: url(./images/background.jpg);
      padding: 2% 10% 2% 10%;
      border: 10px solid #0bffb6;
}
.characters pre{
    display: flex;
}
.cards{
    margin: 3% 0% 3% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    /* border: 2px solid white; */
    width: 32%;
    display: flex;
    flex-direction: column;
}
.card img{
    height: 400px;
    width: 100%;
}
.card-img{
    height:400px;
   width: 100%;
   background-image: url(./images/card1.jpg);
   background-size: cover;
}
.card-img:hover{
     height: 550px;
     width: 110%;
     background-image: url(./images/card1hover.png);
     background-size: cover;
}


@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 1080px) {
  .button-49,
  .button-49:after {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 150px;
    height: 60px;
    line-height: 55px;
  }
}

@media(max-width: 768px){
    .hero{
        padding: 0%;
    }
    .button-49,
  .button-49:after {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 150px;
    height: 60px;
    line-height: 55px;
  }
    .none{
        display: none;
    }
    .block{
        display: block;
    }
    .blimg{
        height: 80px;
        margin-top: 35%;
        margin-left: 50%;
    }
    .left{
        width: max-content;
        margin-right: 3%;
    }
    .left img{
        height: 40px;
    }
    .right{
        width: 40%;
    }
    nav{
        width: 100%;
        justify-content: left;
        font-size: smaller;
    }
    .hero{
        height: 50vh;
        background-size: cover;
        background-position-x: 50%;
        background-repeat: no-repeat;
        border: none;
    }
    .text{
        background-image: url(./images/background.jpg);
        position: static;
        width: 100%;
        text-align: center;
        padding: 5% 2% 5% 2%;
    }
    .card{
        width: 100%;
        margin-bottom: 5%;
    }
    .characters{
        height: auto;
    }
}